.modal_content {
  .token_img_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;

    .token_img {
      max-width: 100%;
      max-height: 300px;
      height: 300px;
      margin: 10px auto;
    }
  }
  .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    margin-bottom: 10px;

    // .label {}
    .value {
      white-space: normal !important;
      word-break: break-word;
      line-height: initial;
      text-align: right;
      flex: auto;
    }
  }
}

.modal_action {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  border-top: 1px solid #f0f0f0;

  button {
    border-radius: 6px;
    min-width: 140px;
  }
}
