.sidebar_header {
  display: block;
  padding: 12px 0;
  background: #00afadd9;

  .logo {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    .sidebar_title {
      display: inline-block;
      font-size: 22px;
      color: #fff;
      margin: 0;
    }
  }
}

.site_layout .site_layout_background {
  background: #fff;
  position: relative;
}

:global {
  .ant-layout {
    min-height: 100vh;
  }

  .ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px !important;
  }

  .ant-layout-content {
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    background-color: #00afad;
  }

  .ant-layout-sider-trigger {
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;

    .trigger {
      // color: #fff;
      padding: 0 12px;
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color 0.3s;
    }

    .trigger:hover {
      color: #1890ff;
    }
  }
}
