.contract_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 10px 10px;

  .address_container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    min-height: 40px;

    .value {
      display: flex;
      align-items: center;
      gap: 10px;
      min-width: 600px;
      padding-left: 10px;
      font-size: 16px;

      input {
        outline: 0;
        border-radius: 0;
        border-bottom: 1px solid #d9d9d9;
        padding-left: 5px;
      }
    }
  }
}
